In [73]:
o = pd.read_csv("ODI data.csv")
o.drop(columns=["Unnamed: 0", "Unnamed: 13"], inplace=True)
o.head(1)

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0
0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49,96,20

In [80]:
o["end date"]= o["Span"].str.split("-").str.get(1).astype(int)
o

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,initials,surname,country,start date,end date
0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49,96,20,SR,Tendulkar,(INDIA),1989,2012
1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15,KC,Sangakkara,(Asia/ICC/SL),2000,2015
2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20,RT,Ponting,(AUS/ICC),1995,2012
3,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.20,28,68,34,ST,Jayasuriya,(Asia/SL),1989,2011
4,DPMD Jayawardene (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28,DPMD,Jayawardene,(Asia/SL),1998,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,ZS Ansari (ENG),2015-2015,1,-,-,-,-,-,-,-,-,-,-,ZS,Ansari,(ENG),2015,2015
2496,Ariful Haque (BDESH),2018-2018,1,-,-,-,-,-,-,-,-,-,-,Ariful,Haque,(BDESH),2018,2018
2497,Ashfaq Ahmed (PAK),1994-1994,3,-,-,-,-,-,-,-,-,-,-,Ashfaq,Ahmed,(PAK),1994,1994
2498,MD Bailey (NZ),1998-1998,1,-,-,-,-,-,-,-,-,-,-,MD,Bailey,(NZ),1998,1998
2499,GR Beard (AUS),1981-1981,2,-,-,-,-,-,-,-,-,-,-,GR,Beard,(AUS),1981,1981

In [90]:
o["start date"] = o["start date"].astype(int)

In [88]:
o.columns   = o.columns.str.lower()
o.head(1)

,player,span,mat,inns,no,runs,hs,ave,bf,sr,100,50,0,initials,surname,country,start date,end date
0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49,96,20,SR,Tendulkar,(INDIA),1989,2012

In [94]:
o["ave"] = o["ave"].str.replace("-", "0" ).astype(float)

In [97]:
o.sort_values(["ave"], ascending=False, inplace=True)

In [111]:
cred = o["mat"]>10
rec = o["end date"] == 2019
eng = o["country"] == "(ENG)"
ind = o["country"] == "(INDIA)"
aus = o["country"] == "(AUS)"
pak = o["country"] == "(PAK)"



o[cred & rec & pak ].head(40)

,player,span,mat,inns,no,runs,hs,ave,bf,sr,100,50,0,initials,surname,country,start date,end date
139,Babar Azam (PAK),2015-2019,74,72,10,3359,125*,54.17,3857,87.08,11,15,2,Babar,Azam,(PAK),2015,2019
233,Fakhar Zaman (PAK),2017-2019,46,46,4,1958,210*,46.61,2056,95.23,4,13,5,Fakhar,Zaman,(PAK),2017,2019
274,Haris Sohail (PAK),2013-2019,41,40,5,1614,130,46.11,1895,85.17,2,13,1,Haris,Sohail,(PAK),2013,2019
406,Imad Wasim (PAK),2015-2019,53,39,16,952,63*,41.39,868,109.67,0,5,1,Imad,Wasim,(PAK),2015,2019
34,Shoaib Malik (PAK),1999-2019,287,258,40,7534,143,34.55,9199,81.90,9,44,15,Shoaib,Malik,(PAK),1999,2019
145,Umar Akmal (PAK),2009-2019,121,110,17,3194,102*,34.34,3712,86.04,2,20,8,Umar,Akmal,(PAK),2009,2019
203,Sarfaraz Ahmed (PAK),2007-2019,116,90,22,2302,105,33.85,2622,87.79,2,11,1,Sarfaraz,Ahmed,(PAK),2007,2019
493,Mohammad Rizwan (PAK),2015-2019,32,28,7,705,115,33.57,787,89.58,2,3,1,Mohammad,Rizwan,(PAK),2015,2019
49,Mohammad Hafeez (PAK),2003-2019,218,216,15,6614,140*,32.90,8633,76.61,11,38,19,Mohammad,Hafeez,(PAK),2003,2019
716,Asif Ali (PAK),2018-2019,18,14,1,361,52,27.76,280,128.92,0,3,0,Asif,Ali,(PAK),2018,2019
739,Shadab Khan (PAK),2017-2019,43,22,9,337,54,25.92,491,68.63,0,3,2,Shadab,Khan,(PAK),2017,2019
710,Mohammad Amir (PAK),2009-2019,61,30,10,363,73*,18.15,444,81.75,0,2,5,Mohammad,Amir,(PAK),2009,2019
1143,Yasir Shah (PAK),2011-2019,25,13,6,127,32*,18.14,149,85.23,0,0,2,Yasir,Shah,(PAK),2011,2019
812,Hasan Ali (PAK),2016-2019,53,29,9,280,59,14.00,247,113.36,0,2,3,Hasan,Ali,(PAK),2016,2019
501,Wahab Riaz (PAK),2008-2019,89,64,15,680,54*,13.87,787,86.40,0,2,12,Wahab,Riaz,(PAK),2008,2019
1030,Faheem Ashraf (PAK),2017-2019,23,15,2,162,28,12.46,195,83.07,0,0,2,Faheem,Ashraf,(PAK),2017,2019
1424,Junaid Khan (PAK),2011-2019,76,31,17,68,25,4.85,127,53.54,0,0,6,Junaid,Khan,(PAK),2011,2019
2232,Usman Shinwari (PAK),2017-2019,17,4,1,6,6,2.00,7,85.71,0,0,2,Usman,Shinwari,(PAK),2017,2019

In [73]:
o = pd.read_csv("ODI data.csv")
o.drop(columns=["Unnamed: 0", "Unnamed: 13"], inplace=True)
o.head(1)

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0
0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49,96,20

In [80]:
o["end date"]= o["Span"].str.split("-").str.get(1).astype(int)
o

,Player,Span,Mat,Inns,NO,Runs,HS,Ave,BF,SR,100,50,0,initials,surname,country,start date,end date
0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49,96,20,SR,Tendulkar,(INDIA),1989,2012
1,KC Sangakkara (Asia/ICC/SL),2000-2015,404,380,41,14234,169,41.98,18048,78.86,25,93,15,KC,Sangakkara,(Asia/ICC/SL),2000,2015
2,RT Ponting (AUS/ICC),1995-2012,375,365,39,13704,164,42.03,17046,80.39,30,82,20,RT,Ponting,(AUS/ICC),1995,2012
3,ST Jayasuriya (Asia/SL),1989-2011,445,433,18,13430,189,32.36,14725,91.20,28,68,34,ST,Jayasuriya,(Asia/SL),1989,2011
4,DPMD Jayawardene (Asia/SL),1998-2015,448,418,39,12650,144,33.37,16020,78.96,19,77,28,DPMD,Jayawardene,(Asia/SL),1998,2015
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,ZS Ansari (ENG),2015-2015,1,-,-,-,-,-,-,-,-,-,-,ZS,Ansari,(ENG),2015,2015
2496,Ariful Haque (BDESH),2018-2018,1,-,-,-,-,-,-,-,-,-,-,Ariful,Haque,(BDESH),2018,2018
2497,Ashfaq Ahmed (PAK),1994-1994,3,-,-,-,-,-,-,-,-,-,-,Ashfaq,Ahmed,(PAK),1994,1994
2498,MD Bailey (NZ),1998-1998,1,-,-,-,-,-,-,-,-,-,-,MD,Bailey,(NZ),1998,1998
2499,GR Beard (AUS),1981-1981,2,-,-,-,-,-,-,-,-,-,-,GR,Beard,(AUS),1981,1981

In [90]:
o["start date"] = o["start date"].astype(int)

In [88]:
o.columns   = o.columns.str.lower()
o.head(1)

,player,span,mat,inns,no,runs,hs,ave,bf,sr,100,50,0,initials,surname,country,start date,end date
0,SR Tendulkar (INDIA),1989-2012,463,452,41,18426,200*,44.83,21367,86.23,49,96,20,SR,Tendulkar,(INDIA),1989,2012

In [94]:
o["ave"] = o["ave"].str.replace("-", "0" ).astype(float)

In [97]:
o.sort_values(["ave"], ascending=False, inplace=True)

In [111]:
cred = o["mat"]>10
rec = o["end date"] == 2019
eng = o["country"] == "(ENG)"
ind = o["country"] == "(INDIA)"
aus = o["country"] == "(AUS)"
pak = o["country"] == "(PAK)"



o[cred & rec & pak ].head(40)

,player,span,mat,inns,no,runs,hs,ave,bf,sr,100,50,0,initials,surname,country,start date,end date
139,Babar Azam (PAK),2015-2019,74,72,10,3359,125*,54.17,3857,87.08,11,15,2,Babar,Azam,(PAK),2015,2019
233,Fakhar Zaman (PAK),2017-2019,46,46,4,1958,210*,46.61,2056,95.23,4,13,5,Fakhar,Zaman,(PAK),2017,2019
274,Haris Sohail (PAK),2013-2019,41,40,5,1614,130,46.11,1895,85.17,2,13,1,Haris,Sohail,(PAK),2013,2019
406,Imad Wasim (PAK),2015-2019,53,39,16,952,63*,41.39,868,109.67,0,5,1,Imad,Wasim,(PAK),2015,2019
34,Shoaib Malik (PAK),1999-2019,287,258,40,7534,143,34.55,9199,81.90,9,44,15,Shoaib,Malik,(PAK),1999,2019
145,Umar Akmal (PAK),2009-2019,121,110,17,3194,102*,34.34,3712,86.04,2,20,8,Umar,Akmal,(PAK),2009,2019
203,Sarfaraz Ahmed (PAK),2007-2019,116,90,22,2302,105,33.85,2622,87.79,2,11,1,Sarfaraz,Ahmed,(PAK),2007,2019
493,Mohammad Rizwan (PAK),2015-2019,32,28,7,705,115,33.57,787,89.58,2,3,1,Mohammad,Rizwan,(PAK),2015,2019
49,Mohammad Hafeez (PAK),2003-2019,218,216,15,6614,140*,32.90,8633,76.61,11,38,19,Mohammad,Hafeez,(PAK),2003,2019
716,Asif Ali (PAK),2018-2019,18,14,1,361,52,27.76,280,128.92,0,3,0,Asif,Ali,(PAK),2018,2019
739,Shadab Khan (PAK),2017-2019,43,22,9,337,54,25.92,491,68.63,0,3,2,Shadab,Khan,(PAK),2017,2019
710,Mohammad Amir (PAK),2009-2019,61,30,10,363,73*,18.15,444,81.75,0,2,5,Mohammad,Amir,(PAK),2009,2019
1143,Yasir Shah (PAK),2011-2019,25,13,6,127,32*,18.14,149,85.23,0,0,2,Yasir,Shah,(PAK),2011,2019
812,Hasan Ali (PAK),2016-2019,53,29,9,280,59,14.00,247,113.36,0,2,3,Hasan,Ali,(PAK),2016,2019
501,Wahab Riaz (PAK),2008-2019,89,64,15,680,54*,13.87,787,86.40,0,2,12,Wahab,Riaz,(PAK),2008,2019
1030,Faheem Ashraf (PAK),2017-2019,23,15,2,162,28,12.46,195,83.07,0,0,2,Faheem,Ashraf,(PAK),2017,2019
1424,Junaid Khan (PAK),2011-2019,76,31,17,68,25,4.85,127,53.54,0,0,6,Junaid,Khan,(PAK),2011,2019
2232,Usman Shinwari (PAK),2017-2019,17,4,1,6,6,2.00,7,85.71,0,0,2,Usman,Shinwari,(PAK),2017,2019

In [1]:
o

NameError: name 'o' is not defined